<app-cabeza1></app-cabeza1>
<app-boca1></app-boca1>
<app-ojos1></app-ojos1>

<app-cabeza2></app-cabeza2>
<app-boca2></app-boca2>
<app-ojos2></app-ojos2>

<app-cabeza3></app-cabeza3>
<app-boca3></app-boca3>
<app-ojos3></app-ojos3>

<app-cuello1></app-cuello1>
<app-esofago></app-esofago>
<app-traquea></app-traquea>

<app-cuello2></app-cuello2>
<app-ganglios></app-ganglios>
<app-musculoscuello></app-musculoscuello>

<app-cuello3></app-cuello3>
<app-glandulassalivales></app-glandulassalivales>
<app-vasossanguineos></app-vasossanguineos>

<app-troncosuperior></app-troncosuperior>
<app-corazon></app-corazon>
<app-pulmones></app-pulmones>

<app-troncomedio></app-troncomedio>
<app-estomago></app-estomago>
<app-higado></app-higado>

<app-troncoinferior></app-troncoinferior>
<app-intestinos></app-intestinos>
<app-rinones></app-rinones>